body {
    color: #000000;
    font-family: ALS Hauss, Roboto;
    background-color: #ffffff;
    font-size: 14px;
    line-height: normal;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
}

.header__wrapper {
    padding: 50px 10px 50px 10px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    margin-right: 50px;
}

.header__logo-svg {
    width: 57px;
    height: 39px;
}

.header__memu-list {
    padding: 0;
    margin: 0 auto 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.memu-list__item {
    padding: 0 20px;
    margin: 0;

}


.memu-list__link {
    font-family: ALS Hauss;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 140%;
    color: #000000;
}

.header__user-memu {
    padding: 0;
    margin: 0 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-memu__item {
    padding: 0 20px;
    margin: 0;

}

.user-memu__item:last-child {
    padding: 0;
}

.user-memu__login-link {
    font-family: ALS Hauss;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 140%;
    color: #000000;
}

.user-memu__logup-link {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: ALS Hauss;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
    color: #FFFFFF;
    background-color: #181818;
    border-radius: 50px;
}

main {
    width: 100%;

}

.blocks__container {
    padding: 50px 10px 50px 10px;
    max-width: 1200px;
    margin-bottom: 50px;
    margin: 0 auto;

}

.block__wrapper {
    padding: 50px 10px 50px 10px;
    max-width: 1200px;
    margin-bottom: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.color-wrapper {
    padding: 80px 0;
    background-color: #F4F8FC;
}

/* блок-шапка */


.block-header {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url(../img/vis.png);
    background-position: center right;
    background-size: 664px 670px;
    background-repeat: no-repeat;
}

.block-header__text {
    padding: 75px 0;
    max-width: 797px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.block-header__text-big {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: ALS Hauss;
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 120%;
    color: #181818;
}

.block-header__text-small {
    padding: 0;
    margin: 0 0 40px 0;
    max-width: 610px;
    font-family: ProximaNova;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 160%;
    color: #606060;
}

.block-header__button {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: ALS Hauss;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    color: #FFFFFF;
    background-color: #181818;
    border-radius: 50px;
}

/* текст и картинка 1\1 */
.block1-row {
    min-height: 396px;
    width: 100%;
    padding: 25px 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F4F8FC;
    border-radius: 25px;
}

.block1-row__text {
    box-sizing: border-box;
    max-width: 471px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.block1-row__img {
    box-sizing: border-box;
    width: 50%;
    max-width: 621;
    height: auto;
}

.block1-row__text-color {
    padding: 0;
    margin: 0 0 10px 0;
    font-family: ALS Hauss;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: linear-gradient(90deg, #0CC0AC 15.08%, #27CA13 44.07%, #7CAF0F 99.43%),
        linear-gradient(0deg, #F8FF00, #F8FF00);

}

.block1-row__text-big {
    padding: 0;
    margin: 0 0 10px 0;
    font-family: ALS Hauss;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    color: #000000;

}

.block1-row__text-small {
    padding: 0;
    margin: 0;
    font-family: ALS Hauss;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #181818;
    opacity: 0.7;
}

/*  */

.block-little-card {
    box-sizing: border-box;
    min-height: 396px;
    padding: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F4F8FC;
    border-radius: 25px;
}

.block-little-card__text {
    width: fit-content;
    max-width: 321px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.block-little-card__img {
    box-sizing: border-box;
    max-width: 362px;
    width: 50%;
    height: auto;
}

.block-little-card__text-color {
    padding: 0;
    margin: 0 0 10px 0;
    font-family: ALS Hauss;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: linear-gradient(90deg, #0CC0AC 15.08%, #27CA13 44.07%, #7CAF0F 99.43%),
        linear-gradient(0deg, #F8FF00, #F8FF00);

}

.block-little-card__text-big {
    padding: 0;
    margin: 0 0 10px 0;
    font-family: ALS Hauss;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 120%;
    color: #000000;

}

.block-little-card__text-small {
    padding: 0;
    margin: 0;
    font-family: ALS Hauss;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #181818;
    opacity: 0.7;
}




/*  */


.block1-column {
    width: 100%;
    padding: 50px 60px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #F4F8FC;
    border-radius: 25px;
}

.block1-column__text {
    margin-bottom: 35px;
    box-sizing: border-box;
    max-width: 671px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}

.block1-column__img {
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.block1-column__img img {
    width: 100%;
}

.block1-column__text-color {
    padding: 0;
    margin: 0 0 10px 0;
    font-family: ALS Hauss;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: linear-gradient(90deg, #0CC0AC 15.08%, #27CA13 44.07%, #7CAF0F 99.43%),
        linear-gradient(0deg, #F8FF00, #F8FF00);

}

.block1-column__text-big {
    padding: 0;
    margin: 0 0 10px 0;
    font-family: ALS Hauss;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    color: #000000;

}

.block1-column__text-small {
    padding: 0;
    margin: 0;
    font-family: ALS Hauss;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #181818;
    opacity: 0.7;
}



/* текст-блок без картинки */
.text__container {
    padding: 0 10px 0 10px;
    max-width: 1200px;
    margin: 0 auto 30px auto;


}

.text__big {
    max-width: 770px;
    box-sizing: border-box;
    padding: 0;
    margin: 0 0 20px 0;
    font-family: ALS Hauss;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    color: #000000;
}

.text__small {
    max-width: 770px;
    box-sizing: border-box;
    font-family: ALS Hauss;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #181818;
    opacity: 0.7;
}


.text__headline {
    font-family: ALS Hauss;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 120%;
    color: #000000;
}


/* текст и картинка 1\1\1 */

.block2-from3 {
    box-sizing: border-box;
    padding: 40px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #F4F8FC;
    border-radius: 25px;
}

.block2-from3__text {
    margin-bottom: 10px;
    width: fit-content;
    max-width: 310px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.block2-from3__img {
    box-sizing: border-box;
    width: 100%;
    max-width: 310px;
    height: auto;
}

.block2-from3__text-color {
    padding: 0;
    margin: 0 0 10px 0;
    font-family: ALS Hauss;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: linear-gradient(90deg, #0CC0AC 15.08%, #27CA13 44.07%, #7CAF0F 99.43%),
        linear-gradient(0deg, #F8FF00, #F8FF00);

}

.block2-from3__text-big {
    padding: 0;
    margin: 0 0 10px 0;
    font-family: ALS Hauss;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 120%;
    color: #000000;

}

.block2-from3__text-small {
    padding: 0;
    margin: 0;
    font-family: ALS Hauss;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #181818;
    opacity: 0.7;
}




/* текст и картинка 1\1\1\1 */
.block2-from4 {
    width: 277px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 30px;
}



.block2-from4__text-container {
    padding: 0;
    margin: 0 0 10px 0;
}

.block2-from4__text-title {
    padding: 0;
    margin: 0 0 10px 0;
    font-family: ALS Hauss;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 120%;
    color: #000000;
}

.block2-from4__text {
    font-family: ALS Hauss;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #181818;
    opacity: 0.7;
}

.block2-from4__img-1 {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 53px;
    background-color: #09D3FF;
}

.block2-from4__img-2 {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 53px;
    background-color: #28EC30;
}

.block2-from4__img-3 {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 53px;
    background-color: #00A3FF;
}

.block2-from4__img-4 {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 53px;
    background-color: #2DDEB3;
}